<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Administrador</title>
    <link rel="stylesheet" href="../static/estilos/entrada-admSty.css">
</head>
<body>
    <header>
        <h1>Clínica Odontológica</h1>
        <div>
            <p>Hola //nombre usuario//</p>
            <button>log out</button>
        </div>
    </header>
    <main>
        <h2>¿Qué desea hacer?</h2>
        <div class="distinto">
            <button>Sacar turno</button>
        </div>
        <div>
            <h3>Administración de odontólogos</h3>
            <button>Listar</button>
            <button>Agregar</button>
            <button>Modificar</button>
            <button>Eliminar</button>
        </div>
        <div>
            <h3>Administración de pacientes</h3>
            <button>Listar</button>
            <button>Agregar</button>
            <button>Modificar</button>
            <button>Eliminar</button>
        </div>
    </main>
</body>
</html>