<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="../static/estilos/indexSty.css">
</head>
<body>
    <h1>Bienvenido a la Clínica Odontológica</h1>

    <div class="principal">
        <h2>Por favor, ingrese a su cuenta</h2>
        <form action="">
            <div>
                <label for="usuario">Usuario: </label>
                <input type="text" placeholder="User" id="usuario">
            </div>
            <div>
                <label for="pass">Contraseña: </label>
                <input type="password" placeholder="Password" id="pass">
            </div>
            <button type="submit">Ingresar</button>
        </form>
    </div>
    
</body>
</html>